body {
  margin: 0;
  height: 100%;
  color: #332d2d;
  background: #828282;
  font-family: 'Montserrat', sans-serif;
}
header,footer {
  text-align: center;
  padding: 2%;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
#text,canvas {
  background: #332d2d;
  color: #b7ada2;
  box-sizing: border-box;
  border: 1px solid #b7ada2;
}
canvas {
  border-left: none;
}
p {
  margin-top: 0;
}
a {
  color: lightskyblue;
}
.small {
  font-size: 0.65em;
}
.secondary {
  color:orange;
}
ul {
  padding-left: 15px;
}
